.header {
  background-color: var(--app-primary-color);
}

.header-logo {
  /* Size Properties */
  height: 56px;
  width: 100%;

  /* Margin and Padding Properties */
  padding: 8px 24px;

  /* Flexbox Properties */
  display: flex;
  align-items: center;
}

.header-logo__svg {
  fill: #fff;
  height: 24px;
  width: 220px;
}
