/* Ant Design Import */
@import '~antd/dist/antd.css';


/* Variables and remove defaults */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
  --app-primary-color: #2f8dcd;
  --app-secondary-color: #333f48;
  font-family: 'Raleway', sans-serif;
}

body {
  background: #f4f4f4;
}

#root {
  height: 100%;
}

.app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
