.local-links {
    display: flex;
    justify-content: center;
}

.local-link-item {
    list-style: none;
    padding: 0 16px;
}

.local-link-item a {
    color: #d2d6da;
}

.local-link-item a:hover {
    color: white;
}